@model FirstSiteModel
@{
    FirstSiteModel oldmodel = Model;
    FirstSiteModel firstSiteModel = new FirstSiteModel();
}
<form asp-action="Edit" asp-controller="First" asp-antiforgery="true" method="post">
<div>
    <h2>Поменяйте имя</h2>
    <label asp-for="@firstSiteModel.Name"></label>
    <input asp-for="@firstSiteModel.Name" />
</div>
<div>
    <h2>Поменяйте описание</h2>
    <label asp-for="@firstSiteModel.Description"></label>
    <input asp-for="@firstSiteModel.Description" />
</div>
    <input type="submit" value="Save"/>
</form>